<div class="row wrap-feature-22">
  <!-- Column -->
  <div class="col-lg-6" data-aos="flip-up" data-aos-duration="1200">
    <img [src]="imagePath" class="rounded img-responsive" alt="wrapkit" />
  </div>
  <!-- Column -->
  <div class="col-lg-6 no-trans">
    <div class="text-box">
      <h2 class="text-info font-medium">Binary Infovision Ltd
      </h2>
      <p>
        Welcome to an institution that provides knowledge beyond books, knowledge beyond boundaries. An institution that believes information can help you see things from several perspectives and insights can help you see Beyond the obvious.
      </p>
      <p>
        Incorporated in 2021, <strong>Binary Infovision </strong>is one of India’s leading solution providers in Information Technology training, staffing and products & tools consulting services to both retail (i.e. students, professionals and individuals) and corporate customers.

With our headquarters in Pune, one of the IT hubs of India, our activities are spread over many locations in the state of Maharashtra and other IT Metros in India

Proudly Associated with with global technology leaders such as Microsoft, Red Hat, NSDC, EC Council, Gasq, Kryterion, Prometric, SAP, Hortonworks, are undoubtedly our core strengths. We have 300+ corporate clients and are associated with 50+ Academic Institutions.
      </p>
      <a
        class="btn btn-info-gradiant btn-md btn-arrow m-t-20"
        data-toggle="collapse"
        routerLink="#"
      >
        <span
          >View Other Features
          <i class="ti-arrow-right"></i>
        </span>
      </a>
    </div>
  </div>
  <!-- Column -->
</div>
